/* 导航样式 */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  gap: 10px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
  color: black;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #646464;
}

.expanded {
  display: flex;
}

@media screen and (min-width: 636px) {
  .nav-links {
    gap: 0;
  }

  .nav-links a {
    padding: 15px 20px;
  }
}