---
import '../styles/navigation.css';
import { joinUrl } from '../scripts/url-utils';

const rootPage = '/';

const giftPage = joinUrl(rootPage, '/gift/');
const daysPage = joinUrl(rootPage, '/days/');
---

<div class="nav-links">
<a href={rootPage}>首页</a>
<a href={giftPage}>礼物</a>
<a href={daysPage}>天数</a>
</div>