---
import '../styles/navigation.css';
import { joinUrl } from '../scripts/url-utils';

const prod = import.meta.env.PROD;
let rootPage;
if (prod) {
  rootPage = '/miniprogram';
}else rootPage = '/';

const giftPage = joinUrl(rootPage, '/gift/');
const daysPage = joinUrl(rootPage, '/days/');
---

<div class="nav-links">
<a href={rootPage}>首页</a>
<a href={giftPage}>礼物</a>
<a href={daysPage}>天数</a>
</div>